{% extends 'master/master.html' %}

{% block content %}

<div class="content container-fluid">
   <div class="row">
      <div class="col-xl-4 col-sm-6 col-12 d-flex">
         <div class="card bg-one w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user-graduate"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{ongoing}}</h3>
                     <h6>Total On Going Task</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 d-flex">
         <div class="card bg-two w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user-graduate"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{upcomming}}</h3>
                     <h6>Total Upcomming Task</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 d-flex">
         <div class="card bg-three w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-user-graduate"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{finished}}</h3>
                     <h6>Total Finished Task</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
   </div>
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h2 class="page-title"><strong>All Schecdule</strong></h2>
             
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="{% url 'addTask' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
    </div>
    <div class="row">
      
     
     {% for i in taskdata %}
     <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-header">
           <span class="btn btn-primary btn-sm">{{forloop.counter}}</span>
           <span class="page-title"><strong>{{i.TaskName}}</strong></span><br>
           <span><i class="fas fa-calendar-day"></i><strong> Created Date:</strong> {{i.Created_at}}</span>
           <span><i class="fas fa-calendar-plus"></i><strong> Due Date:</strong> {{i.DueDate}}</span>
            

           {% if i.Priority == 'High' %}
           <span class="btn btn-danger btn-sm"><i class="fas fa-flag"></i> {{i.Priority}}</span>

           {% elif i.Priority == 'Medium' %}
           <span class="btn btn-warning btn-sm"><i class="fas fa-flag"></i> {{i.Priority}}</span>
           {% else %}
           <span class="btn btn-secondary btn-sm"><i class="fas fa-flag"></i> {{i.Priority}}</span>
           {% endif %}
            
        </div>
         <div class="card-body">
           <p>{{i.TaskDescription}}</p>
           
         </div>
         <div class="card-footer">
            <a href="{% url 'finishedTask' i.id %}" class="btn btn-rounded btn-info"><i class="fas fa-spinner fa-spin"></i> On Going</a>
            <a href="{% url 'deleteTask' i.id %}" class="btn btn-rounded btn-danger"><i class="fas fa-times-circle"></i> Delete</a>
            <a href="{% url 'editTask' i.id %}" class="btn btn-rounded btn-success"><i class="fas fa-times-circle"></i> Edit</a>
         </div>
      </div>
   </div>
      
     {% endfor %}
      
    </div>
 </div>

    
{% endblock content %}
    